<div>
	<h4>Faça upload de um arquivo .csv!</h4>
	<p>A primeira linha do arquivo deve ser: "name,date,id,points"</p>
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Carregar dados na tabela" %>
  <% end %>
</div>
<table id="users-table" class="display">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>date</th>
      <th>pontos</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.date %></td>
        <td><%= user.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>
